<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Click uses Bluetooth for Tap to Connect when you meet someone nearby.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Click uses your microphone for Tap to Connect and voice features.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Click reads your calendar to find mutual free time when you reconnect with a friend.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Click reads your calendar to find mutual free time when you reconnect with a friend.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Click uses your location for tether pings and nearby connection features.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
		<string>nearby-interaction</string>
		<string>bluetooth-central</string>
		<string>processing</string>
		<string>external-accessory</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).refresh</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).processing</string>
	</array>
	<key>GIDClientID</key>
	<string>530817233802-crnehf5a9duauov4vos4lgsijkgingdj.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>530817233802-3ki7usecs885vvag9uq92ubu5hgkv2sp.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>compose.project.click.click</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>click</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.530817233802-crnehf5a9duauov4vos4lgsijkgingdj</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
